.DS_Store
@proudData/proudData.m
functions/PCAdenoise/denoise.m
functions/export/exportDicomDCM.m
functions/export/exportDicomMRD.m
functions/export/exportGifProud.m
functions/coilCombine/coilCombine.m
manuals/P2ROUD - manual.pages
functions/export/niftii/dicm_save.m
functions/export/niftii/dicm_img.m
functions/export/niftii/dicm_hdr.m
functions/export/niftii/dicm_dict.m
functions/export/niftii/dicm2nii.m
functions/export/exportNiftiFcn.m
